p,li{
    text-align: justify;
}

li{
    margin-top: 20px;
}

.article {
    font-size: 35px;
    margin-top: 40px;
}

header{
    height: 150px;
}

header img{
    width: 100%;
}


main, footer{
    width: 50%;
    margin: auto;
}