* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(86, 133, 233);
    max-width: 100%;
}


    main, footer {
        width: 80%;
        margin: auto;
       
    }


header img {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 10%;


}

main {
    background-color: white;
    margin-top: 20px;
}


#writed,#date {
    color: gray;
}

#author {
    color: rgb(83, 152, 255);
    text-decoration: none;
}

#tim_img {
    margin-top: 30px;
}


ul {
    margin: 50px;
}


table {
    border-collapse: collapse;
    width: 100%;
}


th {
    background-color: #045aaa;
    color: white;
    width: 100px;
}


th,td {
    text-align: left;
}


#tr_colored {
    background-color: rgb(161, 204, 245);
}


.marked {
    background-color: yellow;
}


footer{

    margin-top: 50px;
    margin-bottom: 25px;
}

#footer_title{

    color: gray;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container {
    position: relative;
    color: white;
  }


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;

}

